<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/tempusdominus-bootstrap-4.min.css">
        <link rel="stylesheet" href="css/fontawesome.min.css">
        <script src="js/jquery-3.5.1.min.js"></script>
        <script src="js/moment.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/fontawesome.min.js"></script>
        <script src="js/search_api.js"></script>
        <script src="js/plotly-latest.min.js"></script>
        <script src="js/mustache.min.js"></script>
        <script src="js/tempusdominus-bootstrap-4.min.js"></script>
        <script src="js/ui.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Gordian Summaries</a>
        </nav>

        <br>

        <div class="container">
            <h2> Search </h2>
            <p> Search for ticket price summaries for specific one-way trips </p>

            <div class="form-group">
                <label for="departureAirport"> Departure Airport </label>
                <input class="form-control" id="departureAirport" aria-describedby="daHelp" placeholder="Ex. BOS">
                <small id="daHelp" class="form-text text-muted">Use the airport code.</small>
            </div>

            <div class="form-group">
                <label for="arrivalAirport"> Arrival Airport </label>
                <input class="form-control" id="arrivalAirport" placeholder="Ex. LAX">
            </div>

            <div class="form-group">
                <label for="arrivalAirport"> Airline </label>
                <input class="form-control" id="airline" placeholder="Ex. LH" aria-describedby="airlineHelp">
                <small id="airlineHelp" class="form-text text-muted">Use the airline code.</small>
            </div>

            <div class="form-group">
                <label for="date"> Date </label>
                <div class="input-group date" id="date" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#date" id="dateField"/>
                    <div class="input-group-append" data-target="#date" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary" id="submit"> Submit </button>
            <div id="spinner">
                <i class="fas fa-spinner fa-spin"></i>
            </div>
            <br><br>

            <div id="resultParent">
                <div id="results" class="d-flex flex-row">
                </div>
            </div>

            <div id="alert-region">
            </div>

            <script id="alert-template" type="text/x-custom-template">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span id="alert-text">Something's wrong with your query!</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </script>

            <script id="card-template" type="text/x-custom-template">
                <div class="card p-2 flex-even {{ spacing }}" id="{{ typeId }}" >
                    <div class="card-body">
                        <h5 class="card-title">{{ title }}</h5>
                        <div class="card-text">
                            <table class="table">
                                <tr>
                                    <td> 
                                        <b> Minimum </b>
                                    </td>
                                    <td> <span id="{{ typeId }}Min"></span> </td>
                                </tr>
                                <tr>
                                    <td> 
                                        <b> Maximum </b>
                                    </td>
                                    <td> <span id="{{ typeId }}Max"></span> </td>
                                </tr>
                                <tr>
                                    <td> 
                                        <b> Average </b>
                                    </td>
                                    <td> <span id="{{ typeId }}Ave"></span> </td>
                                </tr>
                            </table>
                            <center>
                                <div id="{{ typeId }}Graph">
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
            </script>
        </div>

        <script>

            $(function() {
                setupPage()

                var today = new Date();
                const options = { year: 'numeric', month: '2-digit', day: 'numeric' };

                $('#date').datetimepicker({
                    format: 'L'
                });

                $("#dateField").val(today.toLocaleDateString(undefined, options))
                $("#submit").click(function() {
                    $("#spinner").show()
                    $("#submit").prop('disabled', true);
                    $("#submit").text("Loading")
                    $("#resultParent").hide()

                    var departure = $("#departureAirport").val()
                    var arrival = $("#arrivalAirport").val()
                    var airline = $("#airline").val()
                    var departureDate = moment($("#dateField").val()).format("YYYY-MM-DD")

                    getTripCreationToken(function(success, token) {
                        createTrip(
                            token, 
                            departure, 
                            arrival, 
                            airline, 
                            departureDate,
                            function(success, data) {
                                if (success) {
                                    var results = processResults(data)
                                    if (results.length == 0) {
                                        showAlert("No flights were found matching your query.")
                                   } else {
                                        for (var card of cards) {
                                            updateCard(card, results)
                                        }
                                        $("#resultParent").show()
                                    }
                                } else {
                                    if (data.error) {
                                        showAlert(data.error)
                                    } else if (data.status == "failed") {
                                        showAlert("No flights were found matching your query.")
                                    } else {
                                        showAlert("An unknown error occured while processing the request.")
                                    }
                                }

                                $("#spinner").hide()
                                $("#submit").prop('disabled', false);
                                $("#submit").text("Submit")
                            }
                        )
                    })
                })
            })
        </script>
    </body>
</html>
